APP_NAME=SERVICE_B
APP_VERSION=v1
APP_HOST=0.0.0.0
APP_PORT=7776

RMQ_HOST=localhost
RMQ_PORT=5672
RMQ_USER=guest
RMQ_PASSWORD=guest
EXCHANGE=exchange
TO_CONFIGURE_QUEUE=to_configure
CONFIGURED_QUEUE=configured
TO_CONFIGURE_KEY=to_configure_key
CONFIGURED_KEY=configured_key

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=test
POOL_SIZE=10